.contact-section {
  padding: 80px 8%;
  background: #ffffff;
}

.contact-header {
  text-align: center;
  margin-bottom: 50px;
}

.contact-header h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #111;
}

.contact-header p {
  font-size: 2rem;
  color: black;
  margin-top: 10px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.contact-info {
  width: 40%;
}

.contact-info h2 {
  font-size: 4rem;
  color: #0077ff;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 2rem;
  color: black;
  margin-bottom: 30px;
}

.info-box {
  margin-bottom: 25px;
}

.info-box h3 {
  font-size: 2rem;
  color: #111;
}

.info-box p {
  font-size: 1.5rem;
  color: black;
}

.contact-form {
  width: 55%;
  background: #f8faff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0, 2);
}

.input-group {
  display: flex;
  gap: 20px;
}

.input-group input,
.subject-input,
textarea {
  width: 100%;
  padding: 16px;
  font-size: 1.5rem;
  border: 2px solid #ddd;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
}

input:focus,
textarea:focus {
  border-color: #0077ff;
}

.subject-input {
  margin-top: 20px;
}

textarea {
  margin-top: 20px;
  min-height: 180px;
  resize: none;
}

.send-btn {
  margin-top: 25px;
  padding: 16px;
  width: 100%;
  background: #0077ff;
  color: white;
  font-size: 1.4rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  background: #005fd1;
}

/* Responsive */
@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-info,
  .contact-form {
    width: 100%;
  }

  .contact-header h1 {
    font-size: 3rem;
  }

  .contact-header p {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .contact-header h1 {
    font-size: 2.2rem;
  }

  .contact-header p {
    font-size: 1.2rem;
  }

  .contact-info h2 {
    font-size: 2rem;
  }
}
