.project-container {
  padding: 2rem;
  text-align: center;
  background-color: #ffff;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0, 10);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.project-name {
  margin: 1rem 0 0.5rem;
  font-size: 1.5rem;
}

.project-language {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 0.5rem;
}

.project-description {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 1rem;
}

.project-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  background: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}

.project-btn:hover {
  background: #0056b3;
}

@media (max-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}
