.about-section {
  padding: 80px 8%;
  background: #ffffff;
  min-height: 100px;
  font-family: "Poppins", sans-serif;
}


.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  background: #fff;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 12px 35px rgba(0, 0, 0, 1);
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.about-text {
  max-width: 620px;
}

.about-text h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #111;
}

.about-text h1 span {
  color: #0077ff;
}

.about-text h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #0077ff;
  margin-top: 10px;
  border-left: 4px solid #0077ff;
  padding-left: 10px;
}

.about-text p {
  margin-top: 20px;
  font-size: 2rem;
  line-height: 1.5;
  color: #333;
  font-weight: 500;
}

.about-image img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid #ffffff;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 1);
}


.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 30px;
}

.about-card {
  background: #fff;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 8);
  transition: 0.3s;
}

.about-card:hover {
  transform: translateY(-5px);
}

.about-card h2 {
  font-size: 4rem;
  color: #111;
  margin-bottom: 15px;
  position: relative;
}

.about-card h2::after {
  content: " ";
  width: 100%;
  height: 4px;
  background: #0077ff;
  position: absolute;
  left: 0;
  bottom: -5px;
  border-radius: 10px;
}

.about-card ul {
  list-style: none;
  padding: 0;
}

.about-card ul li {
  font-size: 2rem;
  color: black;
  margin-bottom: 12px;
  line-height: 1.6;
}

.skills li {
  display: inline-block;
  background: #eef4ff;
  padding: 10px 18px;
  margin: 6px;
  border-radius: 25px;
  color: #0050c8;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(10, 100, 200, 100);
  transition: 0.3s ease;
}

.skills li:hover {
  background: #0077ff;
  color: white;
  transform: scale(1.05);
}


@media (max-width: 900px) {
  .about-top {
    flex-direction: column;
    text-align: center;
  }

  .about-text h1 {
    font-size: 2.6rem;
  }

  .about-image img {
    width: 260px;
    height: 260px;
  }
}

@media (max-width: 480px) {
  .about-text h1 {
    font-size: 2.2rem;
  }

  .about-text p {
    font-size: 1rem;
  }

  .about-image img {
    width: 200px;
    height: 200px;
  }
}
